{
    "mongodb_uri": "mongodb://127.0.0.1:27020/i18nweb",
    "secret_session": "change-me",
    "languages": {
        "en": "🇬🇧 English",
        "es": "🇪🇸 Spanish",
        "de": "🇩🇪 German"
    }
}